<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8">
  <meta name="description" content="Trucos de Programación de Django">
  <meta name="HandheldFriendly" content="True">
  <meta name="MobileOptimized" content="320">
  <meta name="viewport" content="initial-scale=1.0, minimum-scale=1.0, maximum-scale=1.0, user-scalable=no">
  <title>TRUKOS-DJANGO</title>
  <link rel="shortcut icon" href="favicon.png">
  <link rel="alternate" type="application/rss+xml" title="frittt.com" href="feed/index.html">
  <link rel="stylesheet" href="css/style.css">
  <meta name="google-site-verification" content="6SJfppWH73AwMKg9GAzWM4Htzr0i60eHL0H3PAvv7cw" />

  <link rel="stylesheet" href="//cdnjs.cloudflare.com/ajax/libs/highlight.js/9.9.0/styles/default.min.css">
  <link rel="stylesheet" href="css/dracula.css">
  <script src="//cdnjs.cloudflare.com/ajax/libs/highlight.js/9.9.0/highlight.min.js"></script> 
  <script>hljs.initHighlightingOnLoad();</script>

  <!--Start of Zendesk Chat Script-->
  <script type="text/javascript">
    window.$zopim||(function(d,s){var z=$zopim=function(c){z._.push(c)},$=z.s=
      d.createElement(s),e=d.getElementsByTagName(s)[0];z.set=function(o){z.set.
        _.push(o)};z._=[];z.set._=[];$.async=!0;$.setAttribute("charset","utf-8");
        $.src="https://v2.zopim.com/?5ovGR8CLlVmIyVhkXGm3upeCBSyUlqHE";z.t=+new Date;$.
        type="text/javascript";e.parentNode.insertBefore($,e)})(document,"script");
      </script>
      <!--End of Zendesk Chat Script-->
    </head>
    <body>
      <a class="orange_mar hidden-xs" href="http://www.marlonfalcon.cl/" marked="1">
       <img id="marlon" style="position: fixed; top: 0; right: 0; border: 0;z-index:9999;" src="img/right_orange.png" alt="marlon">
     </a>


     <div class="wrapper">
      <nav>

       <div class="pull-left">
         <h1><a href="http://www.marlonfalcon.cl" target="_blank"><img class="w" src="img/w.png" alt="Free Documentation Template Icon" /> <span>+56 9 7882 5365</span></a></h1>
       </div>
     </nav>
     <style>
     .w{
      height: 30px;
      width: 30px; 
    }
  </style>



  <header>
    <div class="container">
      <h2 class="lone-header">Guía de Programación de Django</h2>
    </div>
  </header>
  <section>
    <div class="container">
      <ul class="docs-nav">
        <li><strong>1 Introducción</strong></li>
        <li><a href="#que-es-django" class="cc-active">1.1 ¿Qué es Django?</a></li>
        <li><a href="#instalando-django" class="cc-active">1.2 Instalando Django</a></li>
        <li><a href="#django-postgresql" class="cc-active">1.3 Postgresql</a></li>
        <li><a href="#django-produccion" class="cc-active">1.4 Produccion</a></li>

        <li class="separator"></li>
        <li><strong>2 Modelos</strong></li>
        <li><a href="#django-modelos" class="cc-active">2.1 Modelos</a></li>
        <li><a href="#django-admin" class="cc-active">2.2 Modelos Admin</a></li>

        <li class="separator"></li>
        <li><strong>3 Plantillas</strong></li>
        <li><a href="#django-inciando-plantillas" class="cc-active">3.1 Iniciando con Plantillas</a></li>
        <li><a href="#django-herencias-plantillas" class="cc-active">3.2 Herencias Plantillas</a></li>
        <li><a href="#django-cargar-header" class="cc-active">3.3 Cargar Header</a></li>
        <li><a href="#django-cargar-static" class="cc-active">3.4 Cargar Static</a></li>

        <li class="separator"></li>
        <li><strong>90 Documentacion</strong></li>
        <li><a href="#django-documentacion" class="cc-active">90.1 Documentacion</a></li>

      </ul>
      <div class="docs-content">

        <h3 id="que-es-django">1.1 ¿Qué es Django?</h3>      
        <p> <strong>Django</strong> es un framework para aplicaciones web gratuito y open source, escrito en Python. Es un WEB framework - un conjunto de componentes que te ayudan a desarrollar sitios web más fácil y rápidamente.
          <p> Entre sus principales módulos podemos señalar:</p>
          <ul>
            <li>Codigo Abierto</li>
            <li>Usa Python</li>
          </ul>


          <h3 id="instalando-django">1.2 Instalando Django</h3>      
          <p> Creamos el entorno virtual con <strong>Virtualenv</strong> que es una herramienta de desarrollo en Python escrita por <strong>Ian Bicking</strong> y usada para crear entornos aislados para <strong>Python</strong>, en los que es posible instalar paquetes sin interferir con otros <strong>virtualenvs</strong> ni con los paquetes de <strong>Python</strong> del sistema.<p> 
           <pre>
            <code class="python">
virtualenv env --python=python3
cd env
source bin/activate
            </code>
          </pre>
          <p> Instalamos Django 2.0 <p> 
           <pre>
            <code class="python">
pip install Django
pip install pylint
            </code>
          </pre>
          <p> Creamos un proyecto en Django <p> 
           <pre>
<code class="python">
django-admin startproject miproyecto
</code>
          </pre>
          <p> Creamos una app <p> 
           <pre>
            <code class="python">
cd apps
django-admin startapp miapp
            </code>
          </pre>


          </pre>
          <p> Conocer la version instalada <p> 
           <pre>
            <code class="python">
python -m django --version
            </code>
          </pre>




<p>Aplicamos las migraciones<p> 
<pre>
<code class="python">
python manage.py makemigrations
python manage.py migrate
</code>
</pre>

<p>Creamos el Super User<p> 
<pre>
<code class="python">
python manage.py createsuperuser
</code>
</pre>

<p>Corremos el Servidor<p> 
<pre>
<code class="python">
python manage.py runserver
</code>
</pre>





<p>Incluimos la app en el settings.py<p> 
<pre>
<code class="python">
INSTALLED_APPS = [
    'django.contrib.admin',
    'django.contrib.auth',
    'django.contrib.contenttypes',
    'django.contrib.sessions',
    'django.contrib.messages',
    'django.contrib.staticfiles',
    'apps.adopcion',
    'apps.mascota',
]          
</code>
</pre>
          <h3 id="django-postgresql">1.3 Postgresql</h3>      
          <p> Instalamos psycopg2<p> 
           <pre>
            <code class="python">
pip install psycopg2
            </code>
          </pre>
          <p> Configuramos el gestor de BD settings.py <p> 
           <pre>
            <code class="python">
DATABASES = {
    'default': {
        'ENGINE': 'django.db.backends.postgresql_psycopg2',
        'NAME': 'test',
        'USER': 'odoo',
        'PASSWORD': False,
        'HOTS': 'localhost',
        'PORT': 5432,
    }
}</code>
          </pre>

          <h3 id="django-produccion">1.4 Produccion</h3>      
          <p> Desplegamos Django<p> 
           <pre>
            <code class="python">
# Creamos los usuario
adduser django

# Nos conectamos con el usuario
su - django

# Instalamos el entorno
sudo apt install python-virtualenv

# Creamos un entorno virtual
virtualenv .venv --python=python3

# Activamos el enterno
source ~/.venv/bin/activate

# Instalamos Django
pip install Django
pip install psycopg2

# Clonamos el proyecto
git clone https://marlonfalcon@bitbucket.org/marlonfalcon/erp.git

# Instalamos Ngix
sudo apt-get install nginx -y
cd /etc/nginx/sites-available
git clone https://github.com/falconsoft3d/ngix-para-odoo-erp/
cd ngix-para-odoo-erp/
sudo cp /etc/nginx/sites-available/ngix-para-odoo-erp/default.conf /etc/nginx/sites-available/default.conf

cd ..
mv default default-temp
mv default.conf default

cd /etc/nginx/sites-available
nano default

#default
server {
    listen 80;
    server_name 186.64.123.44;

    location = /favicon.ico { access_log off; log_not_found off; }
    location /static/ {
        root /home/django/erp;
    }

    location / {
        include proxy_params;
        proxy_pass http://unix:/home/django/erp/erp.sock;
    }
}

# reiniciamos Ngix
nginx -s reload

# Probamos el server de prueba
python manage.py runserver 0.0.0.0:8000


#nano settings.py
try:
  from local_settings import *
except ImportError:
   pass

# nano local_settings.py
ALLOWED_HOSTS = ['186.64.123.44']


# Instalamos gunicorn
pip install gunicorn

# probamos que funcione
gunicorn --bind 0.0.0.0:8000 erp.wsgi

# Creamos el servicio
sudo su
nano /etc/systemd/system/erp.service

# Valores
[Unit]
Description=Django ERP
After=network.target

[Service]
User=django
Group=www-data
WorkingDirectory=/home/django/erp
ExecStart=/home/django/.venv/bin/gunicorn --access-logfile - --workers 3 --bind unix:/home/django/erp/erp.sock erp.wsgi:application

[Install]
WantedBy=multi-user.target

# Activamos servicio Gunicorn
sudo systemctl start erp
sudo systemctl enable erp

# Reiniciamos
service erp restart                
            </code>
          </pre>
         
          






<h3 id="django-modelos">2.1 Modelos</h3>      
<p> Los modelos definen como serán las tablas en la BD<p> 
<pre>
<code class="python">
from .. adopcion.models import Persona

class Mascota(models.Model):
    nombre = models.CharField(max_length=50)
    sexo = models.CharField(max_length=10)
    edad_aproximada = models.IntegerField()
    fecha_rescate = models.DateField()
</code>
</pre>

<pre>
<code class="python">
class Vacuna(models.Model):
    nombre = models.CharField(max_length=50)


class Mascota(models.Model):
    nombre = models.CharField(max_length=50)
    sexo = models.CharField(max_length=10)
    edad_aproximada = models.IntegerField()
    fecha_rescate = models.DateField()
    
    # Relacion Unos a Varios
    persona = models.ForeignKey(Persona, null=True, blank=True, on_delete=models.CASCADE)
    
    # Relacion de Muchos es a Muchos
    vacuna = models.ManyToManyField(Vacuna, blank=True)
</code>
</pre>


<h3 id="django-admin">2.2 Admin</h3>      
<p> Para mostrar los modelos en el admin en cada app hay que configurar <strong>admin.py</strong><p> 
<pre>
<code class="python">
# -*- coding: utf-8 -*-
from __future__ import unicode_literals
from __future__ import absolute_import

from django.contrib import admin

# Register your models here.

from apps.mascota.models import Vacuna, Mascota 

# Register your models here.
admin.site.register(Vacuna)
admin.site.register(Mascota)
</code>
</pre>



<h3 id="django-inciando-plantillas">3.1 Iniciando con Plantillas</h3>      
<p> Inicio de plantillas<p> 
<pre>
<code class="python">

## core/views.py

from django.shortcuts import render, HttpResponse

# Create your views here.
def home(request):
    return HttpResponse("<h1>Mi web Personal</h1><h2>Portada</h2>")

## webpersonal/urls.py
from core import views

urlpatterns = [
    path('', views.home, name="home"),
    path('admin/', admin.site.urls),
]

</code>
</pre>




<h3 id="django-herencias-plantillas">3.2 Herencias Plantillas</h3>      
<p> Configuramos la carpeta de plantiallas <strong>admin.py</strong><p> 
<pre>
<code class="python">
TEMPLATES = [
    {
        'BACKEND': 'django.template.backends.django.DjangoTemplates',
        'DIRS': [os.path.join(BASE_DIR, 'templates')],
        'APP_DIRS': True,
        'OPTIONS': {
            'context_processors': [
                'django.template.context_processors.debug',
                'django.template.context_processors.request',
                'django.contrib.auth.context_processors.auth',
                'django.contrib.messages.context_processors.messages',
            ],
        },
    },
]
</code>
</pre>

<p> Creando un bloque<p> 
<pre>
<code class="python">
{% block title %}  
    Este es el title
{% endblock %}
</code>
</pre>

<p> Heredamos un bloque<p> 
<pre>
<code class="python">
{% extends 'base/base.html' %}

{% block title %} Mascotas {% endblock %}
</code>
</pre>


<h3 id="django-cargar-header">3.3 Cargar Header</h3>      
<p> Configuramos archivos html<p> 
<pre>
<code class="python">
{% include "base/header.html" %}
</code>
</pre>

<h3 id="django-cargar-static">3.4 Cargar Static</h3>      
<p> Configuramos la carpeta static<p> 
<pre>
<code class="python">
{% load staticfiles %}
<lin rel="stylesheet" href="{% static 'css/style.css' %}">
</code>
</pre>



          <h3 id="django-documentacion">Links de Interés</h3>
          <ul>    
           <li><a href="https://www.djangoproject.com/">https://www.djangoproject.com/</a></li>	
           <li><a href="https://docs.djangoproject.com/es/2.1/">Documentación de Django</a></li>     
         </ul>





       </div>
     </div>
   </section>
   <section class="vibrant centered">
    <div class="">
      <h4> Esta documentación es desarrollada gracias a la colaboración de diferentes fuentes en la web, favor cualquier error reportarlo al mi repositorio <a href="https://falconsoft3d.github.io/trucos-django/" target="_blank">trucos-django</a>. Si te gusto compártelo</h4>
    </div>
  </section>
  <footer>
    <div class="">
      <p> &copy; Copyright Marlon Falcón Hernández. <a href="mailto:mfalcon@falconsolutions.cl">mfalcon@falconsolutions.cl</a></p>
    </div>
  </footer>
</div>

<script src="js/jquery.min.js"></script> 
<script src="https://google-code-prettify.googlecode.com/svn/loader/run_prettify.js?lang=css&skin=sunburst"></script>
<script src="js/layout.js"></script>
<script>
 $(document).ready(function() {
  $('pre code').each(function(i, block) {
    hljs.highlightBlock(block);
  });
});
</script> 
</body>
</html>
