<!DOCTYPE html>
<html lang="es">
<head>
  <meta charset ="UTF8">
  <title>{% block title %}Ejemplo Django{% endblock %}</title>
  <meta name="viewport" content="width = device-width">
  <link href="http://getbootstrap.com/dist/css/bootstrap.min.css" rel="stylesheet">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.2/jquery.min.js"></script>
  <script src="http://getbootstrap.com/dist/js/bootstrap.min.js"></script>

  <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
  <!--[if lt IE 9]>
      <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
      <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
      <![endif]-->


</head>
 <body>
  
    {% block menu %} 
    <h1>Cabecera</h1>
        <ul>
           <li><a href="{% url 'home' %}">Portada</a></li>
           <li><a href="{% url 'about' %}">Acerca De</a></li>
           <li><a href="{% url 'portfolio' %}">Portafolio</a></li>
           <li><a href="{% url 'contact' %}">Contacto</a></li>
    </ul>
    {% endblock %}

    {% block content %}
    {% endblock %}
       

 </body>
</html>





